/* ***************     nav bar *********************** */
h2 {
  font-size: 2rem;
  color: var(--secondary-clr);
  font-weight: 100;
}
nav {
  display: flex;
  justify-content: space-between;
  margin: 5% 7% 0;
}
.logo {
  z-index: 1;
}

.logo a {
  color: var(--primary-clr);
  font-size: 1.5rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--primary-clr);
}

.nav-menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100%;

  gap: 45px;
  padding: 25% 0 7% 0;
  align-items: center;
  transition: 0.3s;
  left: 100%;
  margin-top: -5%;
  background-color: white;
}

nav button {
  display: flex;
  flex-direction: column;
  background: none;
  border: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px 0 0 auto;
  transition: all 0.3s ease-in-out;
  background-color: var(--primary-clr);
}

nav button.active .bar:nth-child(2) {
  opacity: 0;
}

nav button.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
nav button.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
.nav-menu.active {
  left: 0;
}

/*  *********************  Nav bar slut ******************* */

/*  *********************  animationer start ******************* */

.bounce {
  animation-name: bounce_kf;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

@keyframes bounce_kf {
  0% {
    transform: translatey(-10%);
  }
  100% {
    transform: translatey(0%);
  }
}

/*  *********************  animationer slut ******************* */

.splash_forside {
  background-image: url(../billeder/oerken.webp);
  background-position: 45% 50%;
  background-size: 325%;
  background-repeat: no-repeat;
  padding: 0.1% 0 0 0;
  height: 100%;
}

.splash_portfolie {
  background-image: url(../billeder/enden_af_enoe.webp);
  background-position: 40% 104%;
  background-size: 295%;
  background-repeat: no-repeat;
  padding: 0.1% 0 0 0;
  height: 100%;
}

.splash_text {
  margin: 49% 6% 14%;
}

.splash_text h1 {
  color: white;
  font-weight: 100;
  font-size: 3rem;
  text-align: center;
}

.scroll_btn_down_White {
  border: none;

  background: none;
  display: flex;
  justify-content: center;
  padding: 0 0 10% 0;
  margin: 0 auto;
}

.scroll_btn_down_White img {
  width: 15%;
  cursor: pointer;
}

.to_other_sides {
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin: 20% 0 4% 0;
}

.to_other_sides button {
  border: none;
  background: var(--secondary-clr);
  width: 82%;
  margin: 0 auto;
  height: 80px;
  border-radius: 50px;
}

.to_other_sides button a {
  color: white;
  font-size: 1.5rem;
}

footer {
  margin: 20% 0 0 0;
}

footer article {
  display: flex;
  justify-content: center;
}

.to_top {
  border: none;
  background: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 0 10% 0;
  margin: 0 auto;
}

.to_top img {
  width: 15%;
  margin: 0 auto 3%;
}

.social_media a {
  max-width: 10%;
  margin: 0 8%;
}
.social_media img {
  width: 100%;
}
.contact {
  margin: 10% auto 0;
  flex-direction: column;
  text-align: center;
}

.contact ul {
  margin: 5%;
}

.contact ul li {
  margin: 3% 0;
}
#btns_to_other_sides img {
  display: none;
}

#btns_to_other_sides {
  padding: 1% 0 0 0;
}
/*  *********************** desktop starter  *************************** */

@media (min-width: 600px) {
  /* **************  nav bar **************** */

  nav button {
    display: none;
  }

  .nav-menu {
    display: flex;
    justify-content: space-between;
    position: unset;
    flex-direction: row;
    background: none;
    padding: 0;
    width: auto;
    gap: 30px;
    margin: 0% 0% 0% 0%;
  }
  .nav-menu li a:hover {
    color: black;
  }
  /* **************  nav bar slut **************** */

  .splash_text {
    margin: 30% auto 0%;
    max-width: 520px;
  }

  .scroll_btn_down_White {
    display: block;
    margin: 30% auto 0 auto;
  }
  .to_other_sides {
    gap: 60px;
    margin: 7% 0 4% 0;
  }
}

@media (min-width: 800px) {
  nav {
    margin: 2% 3% 3%;
  }
  .container {
    margin: 0 auto;
  }

  .splash_forside {
    background-size: cover;
    background-position: 0 125%;
  }

  .splash_sec {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }

  .splash_text {
    margin: 30% 0 15%;
  }
  .splash_text h1 {
    font-size: 4.3rem;
  }

  .scroll_btn_down_White {
    margin: 70% auto 0 auto;
  }
  #btns_to_other_sides {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  #btns_to_other_sides img {
    display: block;
    max-width: 100%;
  }

  /* ******************** her starter footer  ***************** */
  footer {
    margin: 0;
  }

  .to_top img {
    margin: 0;
  }
}
