/* ****** styling af h1 h2 h3  ************ */
h1 {
  font-size: 4rem;
  color: var(--primary-clr);
  font-weight: 100;
}

h2 {
  font-size: 2rem;
  color: var(--secondary-clr);
  font-weight: 100;
}

p {
  color: var(--third-clr);
}

/* ***************     nav bar *********************** */

nav {
  display: flex;
  justify-content: space-between;
  margin: 5% 7% 0;
}

.logo {
  z-index: 1;
}

.logo a {
  color: var(--primary-clr);
  font-size: 1.5rem;
}

.logo_portfolie a {
  color: white;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--primary-clr);
}

.nav-menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100%;

  gap: 45px;
  padding: 25% 0 7% 0;
  align-items: center;
  transition: 0.3s;
  left: 100%;
  margin-top: -5%;
  background-color: white;
}

nav button {
  display: flex;
  flex-direction: column;
  background: none;
  border: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px 0 0 auto;
  transition: all 0.3s ease-in-out;
  background-color: var(--primary-clr);
}
.bar_portfolie {
  background-color: white;
}

.logo_portfolie a {
  color: white;
  transition: all 0.5s ease-in-out;
}
/* bar active standart */

.active .bar:nth-child(2) {
  opacity: 0;
}

.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

/* menu active */
.nav-menu.active {
  left: 0;
}

/* bar active på portfolie side */

.active_portfolie .bar_portfolie:nth-child(2) {
  opacity: 0;
}

.active_portfolie .bar_portfolie:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
  background-color: var(--primary-clr);
}
.active_portfolie .bar_portfolie:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
  background-color: var(--primary-clr);
}

.active_logo_portfolie a {
  color: var(--primary-clr);
}

/*  *********************  Nav bar slut ******************* */

/*  *********************  animationer start ******************* */

.bounce {
  animation-name: bounce_kf;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

@keyframes bounce_kf {
  0% {
    transform: translatey(-10%);
  }
  100% {
    transform: translatey(0%);
  }
}

/*  *********************  animationer slut ******************* */
/* **********************  splash billeder *********************** */
.splash_forside {
  background-image: url(../billeder/oerken.webp);
  background-position: 45% 50%;
  background-size: 325%;
  background-repeat: no-repeat;
  padding: 0.1% 0 0 0;
  height: 100%;
}

.splash_portfolie {
  background-image: url(../billeder/skovbund.webp);
  background-position: 45% 100%;
  background-size: 325%;
  background-repeat: no-repeat;
  padding: 0.1% 0 0 0;
  height: 100%;
}

.splash_galleri {
  background-image: url(../billeder/galleri_splash_3.webp);
  background-position: 45% 60%;
  background-size: 180%;
  background-repeat: no-repeat;
  padding: 0.1% 0 0 0;
  height: 100%;
}
/* *************** splash text + scroll down btn ******************* */

.splash_text {
  margin: 49% 6% 14%;
}

.splash_text_portfolie {
  margin: 60% 6% 14%;
}

.splash_text h1 {
  color: white;
  font-weight: 100;
  font-size: 3rem;
  text-align: center;
}

.scroll_btn_down_White {
  border: none;

  background: none;
  display: flex;
  justify-content: center;
  padding: 0 0 10% 0;
  margin: 0 auto;
}

.scroll_btn_down_White_portfolie {
  padding: 0 0 30% 0;
}

.scroll_btn_down_White img {
  width: 15%;
  cursor: pointer;
}

section h1 {
  text-align: center;
  margin: 3% 0 0;
}

.profile_pic {
  display: flex;
  justify-content: center;
  margin: 0 0 10%;
}

.profile_pic img {
  max-width: 66%;
  border-radius: 50%;
}

.om_mig {
  margin: 7% 9%;
}

.om_mig h2 {
  margin: 4% auto 4%;
}

.hvem_er_jeg {
  margin: 0 0 9%;
}

/*  *********** knapper til andre sider på forsiden **************** */

.to_other_sides {
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin: 20% 0 4% 0;
}

.to_other_sides button {
  border: none;
  background: var(--secondary-clr);
  width: 82%;
  margin: 0 auto;
  height: 80px;
  border-radius: 50px;
  box-shadow: -4px 5px #2776a3;
}

.to_other_sides button a {
  color: white;
  font-size: 1.5rem;
}

#top_of_section img {
  display: none;
}

#top_of_section {
  padding: 1% 0 0 0;
}

/* ************* om projekter ***************** */

.projekt h3 {
  color: var(--secondary-clr);
  margin: 0% 0 3%;
}

.projekt p {
  margin: 0 0 8%;
}

.projekt_text a {
  color: var(--primary-clr);
  margin: 0% 0 5%;
  font-size: 2rem;
  font-weight: 100;
}

.in_project_text a {
  color: var(--third-clr);
  text-decoration: underline;
  font-size: unset;
  margin: 0;
}

.tekst_opdeler {
  display: block;
  font-weight: 700;
  margin: 5% 0 2% 0;
}

.projekt img {
  width: 90%;
  display: block;
  margin: 20% auto 5%;
  border-radius: 10px;
}

.projekt_text {
  margin: 0 6%;
}

.projekt_text h2 {
  display: block;
}

.om_projekt {
  margin: 7% auto 0;
}

/* ****************** om mig ****************** */
.scroll_btn_down_blue {
  margin: 8% 0% 0 0;
}

.indryk {
  margin: 2% 10%;
  font-size: 0.8rem;
}

/* ****************** galleri ****************** */

.splash_text_galleri {
  margin: 69% 6% 34%;
}

.galleri_article h2 {
  margin: 15% 5% -20px;
}
.collage_container img {
  width: 90%;
  display: block;
  margin: 10% auto 0%;
  border-radius: 10px;
}

/* *************** footer  **************** */

footer {
  margin: 20% 0 0 0;
}

.footer_om_mig {
  margin: 15% 0 0 0;
}

footer article {
  display: flex;
  justify-content: center;
}

.to_top {
  border: none;
  background: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 0 10% 0;
  margin: 0 auto;
}

.to_top img {
  width: 15%;
  margin: 0 auto 3%;
}

.social_media a {
  max-width: 10%;
  margin: 0 8%;
}
.social_media img {
  width: 100%;
}
.contact {
  margin: 10% auto 0;
  flex-direction: column;
  text-align: center;
}

.contact ul {
  margin: 5%;
}

.contact ul li {
  margin: 3% 0;
}

/*  *********************** desktop starter  *************************** */

@media (min-width: 600px) {
  /* **************  nav bar **************** */
  .splash_portfolie {
    background-position: 55% 100%;
  }
  nav button {
    display: none;
  }

  .nav-menu {
    display: flex;
    justify-content: space-between;
    position: unset;
    flex-direction: row;
    background: none;
    padding: 0;
    width: auto;
    gap: 30px;
    margin: 0% 0% 0% 0%;
  }
  .nav-menu li a:hover {
    color: black;
  }
  .nav_menu_portfolie li a {
    color: white;
  }
  /* **************  nav bar slut **************** */

  .splash_text {
    margin: 30% auto 0%;
    max-width: 520px;
  }

  .scroll_btn_down_White {
    display: block;
    margin: 30% auto 0 auto;
  }
  .to_other_sides {
    gap: 60px;
    margin: 7% 0 4% 0;
  }
  /* om mig side */

  .om_mig {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6%;
    margin: 7% 7% 20%;
  }

  .profile_pic {
    display: block;
  }

  .profile_pic img {
    max-width: 100%;
  }

  .scroll_btn_down_blue {
    margin: 10% auto 0 auto;
  }

  .footer_om_mig {
    margin: 10% 0 0 0;
  }

  /*  **************** galleri ***************** */

  .splash_text_galleri h1 {
    font-size: 5rem;
  }
}

@media (min-width: 800px) {
  nav {
    margin: 2% 3% 3%;
  }
  .container {
    margin: 0 auto;
  }

  .splash_forside {
    background-size: cover;
    background-position: 0 125%;
  }

  .splash_portfolie {
    background-position: 46% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0.1% 0 0 0;
    height: 100%;
  }

  .splash_galleri {
    background-position: 0% 42%;
    background-size: 100%;
  }

  .splash_sec {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }

  .splash_text {
    margin: 30% 0 15%;
  }
  .splash_text_portfolie {
    margin: 30% 0 45%;
  }

  .splash_text h1 {
    font-size: 4.3rem;
  }
  .splash_text_portfolie h1 {
    font-size: 4.5rem;
  }

  .scroll_btn_down_White {
    margin: 70% auto 0 auto;
  }

  #btns_to_other_sides {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  #btns_to_other_sides img {
    display: block;
    max-width: 100%;
  }

  #top_of_section img {
    display: block;
    width: 80%;
    margin: 0 auto;
    border-radius: 30%;
  }

  /* ****************** projekter styling desktop ************************* */

  .projekt {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 5% 2% 0;
  }
  .projekt_omvendt {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .projekt_omvendt a {
    order: 1;
  }

  .projekt_text {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5%;
  }

  .projekt_text a {
    grid-column: 1/3;

    margin: 0;
    font-size: 2rem;
    font-weight: 100;
    order: 0;
  }

  .in_project_text a {
    color: var(--third-clr);
    text-decoration: underline;
    font-size: unset;
    margin: 0;
  }

  .om_projekt {
    margin: 0;
  }

  .projekt img {
    width: 100%;
  }

  /* ************** OM MIG styiling desktop ******************** */

  .om_mig {
    margin: 2% 7% 0%;
  }

  .scroll_btn_down_blue {
    margin: 31% auto 0;
  }

  .hvem_er_jeg {
    margin: 20% auto 0;
  }
  /* **************** galleri ****************** */

  .splash_text_galleri {
    margin: 30% 18% 65% auto;
  }

  .splash_text_galleri h1 {
    font-size: 5rem;
  }

  .collage_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .galleri_article h2 {
    margin: 6% auto 0%;
    font-size: 3rem;
  }

  /* ******************** her starter footer  ***************** */
  footer {
    margin: 10% auto 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  footer button {
    order: 3;
  }
  .to_top {
    padding: 0;
  }
  .to_top img {
    margin: 0 auto;
  }
  .social_media {
    order: 2;
    margin: auto;
  }

  .social_media a {
    max-width: unset;
    margin: 0;
  }
  .social_media img {
    width: 50%;
    margin: 0 25%;
  }
  article .contact {
    grid-column: 1;
  }
  .contact {
    order: 1;
    margin: 4% auto 4%;
  }

  .contact ul {
    margin: 0;
  }

  .contact ul li {
    margin: 4% 0;
  }
}
